table,th,td
  {
    border:2px solid red;
  }
  table
  {
    border-collapse:collapse;
    width:20%;
  }
  td
  {
    height:40px;
  }
  tr:nth-child(3)
  {
    background-color: blue;
    color:white;
  }
  th
  {
    background-color:yellow;
    color:black;
  }
